{
  "app": {
    "guid": "cd3440b9-cbb6-4373-83fc-c4186d20d2e1"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null
  },
  "security": {
    "token": "Y2QzNDQwYjktY2JiNi00MzczLTgzZmMtYzQxODZkMjBkMmUx",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "internal",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": false
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}