<div id="starter" ng-init="cronapi.server('blockly.UserPiloto.Executar').run()" ng-destroy="" data-component="crn-start" screen-params="">
  <div class="page-header component-holder col-md-12" data-component="crn-header" id="crn-header-288840"> 
    <h1 class="component-holder text-center" xattr-position="text-center" data-component="crn-title" id="crn-title6844">Teste</h1> 
  </div> 
  <div class="component-holder ng-binding ng-scope col-md-1" data-component="crn-textinput" id="crn-textinput-163578" style="width: 331px; height: 65px;">
    <div class="form-group">
      <label for="input3946">Nome</label>
      <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.name" class="form-control k-textbox" id="input3946" placeholder="Nome">
    </div>
  </div>
  <div class="component-holder ng-binding ng-scope col-md-1" data-component="crn-textinput" id="crn-textinput-100532" style="width: 331px; height: 65px;">
    <div class="form-group">
      <label for="input5962">Email</label>
      <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.email" class="form-control k-textbox" id="input5962" placeholder="Email">
    </div>
  </div>
  <div class="component-holder ng-binding ng-scope col-md-1" data-component="crn-textinput" id="crn-textinput-545320" style="width: 332px; height: 65px;">
    <div class="form-group">
      <label for="input1187">Tipo Sanguineo</label>
      <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.tipo_sanguineo" class="form-control k-textbox" id="input1187" placeholder="Tipo Sanguineo">
    </div>
  </div>
  <div class="component-holder ng-binding ng-scope col-md-1" data-component="crn-textinput" id="crn-textinput-89025" style="width: 330px; height: 65px;">
    <div class="form-group">
      <label for="input5225">Endereço</label>
      <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.endereco" class="form-control k-textbox" id="input5225" placeholder="">
    </div>
  </div>
  <div class="component-holder ng-binding ng-scope col-md-1" data-component="crn-textinput" id="crn-textinput-1018899" style="width: 90px; height: 65px;">
    <div class="form-group">
      <label for="input495">Numero</label>
      <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.numero" class="form-control k-textbox" id="input495" placeholder="">
    </div>
  </div>
  <div class="component-holder ng-binding ng-scope col-md-1" data-component="crn-textinput" id="crn-textinput-905240" style="width: 200px; height: 65px;">
    <div class="form-group">
      <label for="input2860">Bairro</label>
      <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.bairro" class="form-control k-textbox" id="input2860" placeholder="">
    </div>
  </div>
  <div class="component-holder ng-binding ng-scope col-md-1" data-component="crn-textinput" id="crn-textinput-342653" style="width: 200px; height: 65px;">
    <div class="form-group">
      <label for="input1713">Cidade</label>
      <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.cidade" class="form-control k-textbox" id="input1713" placeholder="">
    </div>
  </div>
  <div class="component-holder ng-binding ng-scope col-md-1" data-component="crn-textinput" id="crn-textinput-160634" style="width: 170px; height: 65px;">
    <div class="form-group">
      <label for="input8715">Estado</label>
      <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.estado" class="form-control k-textbox" id="input8715" placeholder="">
    </div>
  </div>
  
<div class="component-holder ng-binding ng-scope" data-component="crn-button" id="crn-button-892419"></div></div>
